<form class="example-form" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" #f='ngForm' (ngSubmit)="onSubmit(f)">

  <mat-form-field>
    <input matInput placeholder="Your email" type='email'
    ngModel
    name='email'
    email
    required>
    <mat-hint>Please enter a valid email.</mat-hint>
    <mat-error>Invalid or missing email.</mat-error>
  </mat-form-field>

  <mat-form-field hintLabel="Should be at least 6 char">
    <input matInput placeholder="Your password" type='password'
    ngModel
    name='password'
    required
    minlength='6'
    #pwInput="ngModel">
    <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [max]='maxDate' ngModel required name='birthdate'>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-checkbox class="example-margin" ngModel name="agree" required>Check me!</mat-checkbox>

  <button *ngIf="!(isLoading$ | async)" mat-raised-button color="primary" type='submit' [disabled]="f.invalid">Submit</button>
  <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
</form>
